.feature-points {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.feature-description {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-list {
  display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: row;
gap: 24px;
padding: 120px 15px;
max-width: 1158px;
flex-basis: calc((100% - 60px) / 4);

}
.features-list h3 + p {
    margin-top: 8px;
}